#bucket-lift-off {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0,.6);
  color: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.bucket-lift-off-show {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.bucket-lift-off-hide {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

